.histories-Line {
  display: grid;
  overflow: hidden;
  animation: histories-Line-show 0.3s both;

  & .content {
    min-height: 0;
    display: flex;
    justify-content: center;
    gap: 10px;

    & .japanese,
    & .chinese {
      color: #cdb4db;
    }

    & .hiragana {
      flex-shrink: 0;
    }
  }

  @keyframes histories-Line-show {
    0% {
      grid-template-rows: 0fr;
    }

    100% {
      grid-template-rows: 1fr;
    }
  }
}
