.controls-Next {
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #a2d2ff;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  cursor: pointer;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    background-color: #a01a58;
    border-color: #eee;
  }

  &::after {
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("./triangle.svg");
    background-size: contain;
  }

  &.active {
    background-color: #72bbff;

    @media (prefers-color-scheme: dark) {
      background-color: #b7094c;
    }
  }

  &:active {
    background-color: #53acff;

    @media (prefers-color-scheme: dark) {
      background-color: #e60a5e;
    }
  }
}
