.settings-Button {
  height: 40px;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ddd;
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  cursor: pointer;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    background-color: #383838;
    color: #ccc;
  }

  &:not(.active) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s 0.3s;
  }

  &::before {
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("./gear.svg");
    background-size: contain;
  }

  &:active {
    background-color: #bbb;

    @media (prefers-color-scheme: dark) {
      background-color: #555;
    }
  }
}
