.settings-Form {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s;
  overflow: hidden;

  &.active {
    grid-template-rows: 1fr;
  }

  & > .inner {
    min-height: 0;

    & > .content {
      padding: 10px 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #ddd;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #444;

      @media (prefers-color-scheme: dark) {
        background-color: #383838;
        color: #ccc;
      }
    }
  }
}
