.desks-Card {
  position: relative;
  height: min(75px, 30vh, 17vw);
  aspect-ratio: 60 / 75;

  & .cover,
  & .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #d8edff;
    background-color: #bde0fe;
    transition: 0.3s;
    backface-visibility: hidden;
  }

  &.active .cover {
    transform: rotateY(180deg);
  }

  & .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    font-size: min(40px, 15vh, 8vw);
    color: #333;
    user-select: none;
  }

  &:not(.active) .content {
    transform: rotateY(180deg);
  }
}
