.desks-Card {
  position: relative;
  height: min(75px, 30vh, 17vw);
  aspect-ratio: 60 / 75;

  & .cover,
  & .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #d8edff;
    background-color: #bde0fe;
    box-shadow: 1px 1px 10px #d8edff44;
    transition: 0.3s;
    backface-visibility: hidden;

    @media (prefers-color-scheme: dark) {
      background-color: #a01a58;
      box-shadow: 1px 1px 10px #a01a5844;
      border-color: #eee;
    }
  }

  &.active .cover {
    transform: rotateY(180deg);
  }

  & .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    font-size: min(40px, 15vh, 8vw);
    color: #333;
    user-select: none;

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }

  &:not(.active) .content {
    transform: rotateY(180deg);
  }
}
