.desks-Desk {
  width: min(500px, 90vw);
  min-height: min(250px, 60vh);
  background-color: #f8f8f8;
  display: grid;
  grid-template:
    "kanji" 1fr
    "hiragana" auto
    "meaning" 1fr
    / 1fr;
  gap: 5px;

  & .kanji {
    grid-area: kanji;
    align-self: flex-end;
  }

  & .hiragana {
    grid-area: hiragana;
  }

  & .meaning {
    grid-area: meaning;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #383838;
  }
}
