.desks-Meaning {
  & .content {
    text-align: center;
    color: #333;

    @media (prefers-color-scheme: dark) {
      color: #ccc;
    }

    &:not(.active) {
      opacity: 0;
    }

    &.active {
      transition: 0.3s;
    }
  }
}
